<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylee.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container p-4">
        <div class="row">
            <h3 class="text-center m-4 text-dark"> Random word: (attempt # {{ request.session.counter }} )</h3>
            <div class="offset-2 col-8 border border-info">
                <h3 class="text-center text-dark m-4">{{randomword}}</h3>
            </div>
        </div>
        <div class="row">
            <a href="../random_words" class="offset-3 col-2 btn btn-warning mt-3">Generate</a>
            <a href="/random_words/reset" class="offset-2 col-2 btn btn-info mt-3">Reset</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'script.js' %}"></script>
    
</body>
</html>